<div class="mx-auto max-w-md rounded bg-white p-4 shadow">
	<h2 class="mb-4 text-2xl font-bold">Configuration du Quiz</h2>

	<form (ngSubmit)="onSubmit()">
		<div class="mb-3">
			<label class="block font-semibold" for="lastName">Nom</label>
			<input
				id="title"
				type="text"
				[(ngModel)]="config.lastName"
				name="lastName"
				required
				class="w-full rounded border px-3 py-2"
			/>
		</div>

		<div class="mb-3">
			<label class="block font-semibold" for="firstName">Prénom</label>
			<input
				id="title"
				type="text"
				[(ngModel)]="config.firstName"
				name="firstName"
				required
				class="w-full rounded border px-3 py-2"
			/>
		</div>

		<div class="mb-3">
			<label class="block font-semibold" for="quantity">Nombre de questions</label>
			<input
				id="title"
				type="number"
				[(ngModel)]="config.quantity"
				name="quantity"
				required
				class="w-full rounded border px-3 py-2"
			/>
		</div>

		<div class="mb-3">
			<label class="block font-semibold" for="difficulty">Difficulté</label>
			<select
				id="difficulty"
				[(ngModel)]="config.difficulty"
				name="difficulty"
				class="w-full rounded border px-3 py-2"
			>
				<option *ngFor="let difficulty of difficulties" [value]="difficulty.id">
					{{ difficulty.name }}
				</option>
			</select>
		</div>

		<div class="mb-3">
			<label class="block font-semibold" for="category">Catégorie</label>
			<select
				id="difficulty"
				[(ngModel)]="config.category"
				name="category"
				class="w-full rounded border px-3 py-2"
			>
				<option *ngFor="let category of categories" [value]="category.id">
					{{ category.name }}
				</option>
			</select>
		</div>

		<div class="mb-3">
			<label class="block font-semibold">Type de questions</label>
			<div class="flex gap-4">
				<label *ngFor="let type of types" class="flex items-center">
					<input
						type="radio"
						[(ngModel)]="config.type"
						name="type"
						[value]="type.id"
						class="mr-2"
					/>
					{{ type.name }}
				</label>
			</div>
		</div>

		<button type="submit" class="w-full rounded bg-blue-600 py-2 text-white">Démarrer</button>
	</form>
</div>
