<div class="mx-3 flex min-h-screen items-center justify-center">
	<div class="mx-auto max-w-md rounded border bg-white p-4 shadow">
		<h2 class="mb-4 text-2xl font-bold">Quiz configuration</h2>

		<form (ngSubmit)="onSubmit()" #quizForm="ngForm">
			<div class="mb-3">
				<label class="block font-semibold" for="lastName">Lastname</label>
				<input
					id="lastName"
					type="text"
					[(ngModel)]="lastName"
					name="lastName"
					required
					#lastNameInput="ngModel"
					class="w-full rounded border px-3 py-2"
					[class.border-red-500]="lastNameInput.invalid && lastNameInput.touched"
				/>
				<div
					*ngIf="lastNameInput.invalid && lastNameInput.touched"
					class="text-sm text-red-500"
				>
					Le nom est requis.
				</div>
			</div>

			<div class="mb-3">
				<label class="block font-semibold" for="firstName">Firstname</label>
				<input
					id="firstName"
					type="text"
					[(ngModel)]="firstName"
					name="firstName"
					required
					#firstNameInput="ngModel"
					class="w-full rounded border px-3 py-2"
					[class.border-red-500]="firstNameInput.invalid && firstNameInput.touched"
				/>
				<div
					*ngIf="firstNameInput.invalid && firstNameInput.touched"
					class="text-sm text-red-500"
				>
					Le prénom est requis.
				</div>
			</div>

			<div class="mb-3">
				<label class="block font-semibold" for="quantity">Number of questions</label>
				<input
					id="quantity"
					type="number"
					[(ngModel)]="config.quantity"
					name="quantity"
					required
					#quantityInput="ngModel"
					class="w-full rounded border px-3 py-2"
					min="5"
					max="20"
				/>
				<div *ngIf="quantityInput.invalid" class="text-sm text-red-500">
					Le nombre de questions doit être compris entre 5 et 20.
				</div>
			</div>

			<div class="mb-3">
				<label class="block font-semibold" for="difficulty">Difficulty</label>
				<select
					id="difficulty"
					[(ngModel)]="config.difficulty"
					name="difficulty"
					class="w-full rounded border px-3 py-2"
				>
					<option *ngFor="let difficulty of difficulties" [value]="difficulty.id">
						{{ difficulty.name }}
					</option>
				</select>
			</div>

			<div class="mb-3">
				<label class="block font-semibold" for="category">Category</label>
				<select
					id="category"
					[(ngModel)]="config.category"
					name="category"
					class="w-full rounded border px-3 py-2"
				>
					<option *ngFor="let category of categories" [value]="category.id">
						{{ category.name }}
					</option>
				</select>
			</div>

			<div class="mb-3">
				<div class="block font-semibold">Questions type</div>
				<div class="flex flex-col gap-x-4 py-2 sm:flex-row">
					<label *ngFor="let type of types" class="flex items-center">
						<input
							type="radio"
							[(ngModel)]="config.type"
							name="type"
							[value]="type.id"
							class="mr-2 w-4 h-4"
						/>
						{{ type.name }}
					</label>
				</div>
			</div>

			<button
				type="submit"
				class="w-full rounded bg-blue-600 py-2 text-white disabled:bg-gray-600 disabled:opacity-50"
				[disabled]="quizForm.invalid"
			>
				Start
			</button>
		</form>
	</div>
</div>
